@tailwind base;
@tailwind components;
@tailwind utilities;

// ----- Fonts -----

@font-face {
  font-family: 'NeueMetana';
  src: url('../public/fonts/NeueMetana-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'NeueMetana';
  src: url('../public/fonts/NeueMetana-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato-Regular.ttf') format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../public/fonts/Lato-Bold.ttf') format('woff2');
  font-weight: bold;
}

@media (max-width: 768px) {
  .conversationsWrapper {
    width: 100% !important;
    min-width: 100% !important;
  }
}
